/* common */
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.bg_green {
    background-color: #1ABC9C;
}

.bg_blu {
    background-color: #2C3E50;
}

img {
    width: 100%;
    border-radius: 10px;
}

.fa-star {
    font-size: 20px;
}

hr {
    display: inline-block;
    width:10%;
    margin: 3px;
    border: 2px solid white;
}

.cl_text {
    color: #2C3E50;
}
.cl_text hr {
    border: 2px solid black;
}

.ms_btn {
    background-color: #1ABC9C;
    color: white;
}


/* header */
.ms_navbar {
    border-radius: unset;
    margin-bottom: 0;
    background-color: #2C3E50;
}
.ms_navbar_header a {
    padding-top: 25px;
    font-size: 20px;
    color: white;
}
.ms_navbar_header span {
   background-color: white;
}

.ms_navbar-toggle {
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

li > a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

header > section > div {
    padding: 30px;
}

nav {
    height: 80px;
}

h1 {
    font-size: 50px;
}

header img {
    width: 15%;
}

/* main */

.img_container {
    padding-top: 30px;
    padding-bottom: 30px;
}

main p {
    padding: 20px 0;
}

#about_section {
    padding: 40px;
}

.wrapped_50{
    width: 50%;
    padding: 10px 0;
    margin: 0 auto;
}

#contact_section {
    padding: 30px 0;
}

#contact_list_section {
    width: 65%;
    margin: 0 auto;
    color: #2C3E50;
    padding: 30px;
}

input {
    display: block;
    width: 100%;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
}

textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
}




/* footer */
#location {
    background-color: #3A546D;
}

#footer_top_container {
    width: 70%;
    margin: 0 auto;
}

.social_icon_container {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

li {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
}

.social_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

#start_link {
    color: #1ABC9C;
    text-decoration: none;
}

#footer_bottom_container{
    height: 60px;
    line-height: 60px;
}
#footer_bottom_container p {
    vertical-align: middle;
    font-size: 15px;
}

.footer_text {
    padding: 20px 0;
}


/* media */

@media screen and (min-width: 992px) {

    .ms_navbar_header a {
        font-size: 25px;
    }

    p {
        font-size: 25px;
    }

    .wrapped_50{
        width: 60%;
        padding: 10px 0;
        margin: 0 auto;
    }


}