/* debug */

nav {
    height: 80px;
}
#nav-row {
    margin: 10px 10px;
}

#link-nav {
    height: 30px;
    margin: 10px;
    background-color: springgreen;
}

header > section {
    height: 500px;
}

header > section > div {
    padding: 30px;
}

h1 {
    height: 40px;
    background-color: slateblue;
}

h2 {
    height: 30px;
    background-color: sandybrown;
}

p {
    height: 30px;
    margin: 10px;
    background-color: sandybrown;
}

.img {
    height: 300px;
    margin: 15px 0;
    border-radius: 10px;
    background-color: rosybrown;
}

#about {
    height: 600px;
}

.text {
    margin: 10px 0;
    height: 200px;
    background-color: salmon;
}

.btn {
    height: 20px;
    width: 100px;
    margin: 20px 0;
    background-color: skyblue;
}

#location {
    background-color: #3A546D;
}

#copyright {
    height: 80px;
}

/* common */
body {
    text-align: center;
}

.bg-green {
    background-color: #1ABC9C;
}

.bg-blu {
    background-color: #2C3E50;
}

/* header */

/* main */

/* footer */

/* media */

@media screen and (min-width: 992px) {
    
    #nav-row {
        margin: 10px 10px;
    }

    #link-nav {
        display: block;
    }

    #about {
        height: 400px;
    }

    #row_md {
        margin: 0 20px;
    }

    #row-about-container,
    #contact-text {
        margin: 0 40px;
    } 

    #row-footer-container {
        margin: 0 100px;
    }
}

@media screen and (min-width: 1200px) {

    #nav-row {
        margin: 10px 20px;
    }

    #row-img-container {
        margin: 0 100px;
    }

    #row-about-container,
    #contact-text {
        margin: 0 120px;
    }

    #row-footer-container {
        margin: 0 120px;
    }
}